<a href="https://cognitiveclass.ai"><img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DL0101EN-SkillsNetwork/images/IDSN-logo.png" width="400"> </a>

<h1 align=center><font size = 5>Regression Models with Keras</font></h1>

## Introduction

As we discussed in the videos, despite the popularity of more powerful libraries such as PyToch and TensorFlow, they are not easy to use and have a steep learning curve. So, for people who are just starting to learn deep learning, there is no better library to use other than the Keras library. 

Keras is a high-level API for building deep learning models. It has gained favor for its ease of use and syntactic simplicity facilitating fast development. As you will see in this lab and the other labs in this course, building a very complex deep learning network can be achieved with Keras with only few lines of code. You will appreciate Keras even more, once you learn how to build deep models using PyTorch and TensorFlow in the other courses.

So, in this lab, you will learn how to use the Keras library to build a regression model.

<h2>Regression Models with Keras</h2>

<h3>Objective for this Notebook<h3>    
<h5> 1. How to use the Keras library to build a regression model.</h5>
<h5> 2. Download and Clean dataset </h5>
<h5> 3. Build a Neural Network </h5>
<h5> 4. Train and Test the Network. </h5>

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Download and Clean Dataset</a>  
2. <a href="#item32">Import Keras</a>  
3. <a href="#item33">Build a Neural Network</a>  
4. <a href="#item34">Train and Test the Network</a>  

</font>
</div>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.simplefilter('ignore', FutureWarning)

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

            Cement  Blast Furnace Slag  ...          Age     Strength
count  1030.000000         1030.000000  ...  1030.000000  1030.000000
mean    281.167864           73.895825  ...    45.662136    35.817961
std     104.506364           86.279342  ...    63.169912    16.705742
min     102.000000            0.000000  ...     1.000000     2.330000
25%     192.375000            0.000000  ...     7.000000    23.710000
50%     272.900000           22.000000  ...    28.000000    34.445000
75%     350.000000          142.950000  ...    56.000000    46.135000
max     540.000000          359.400000  ...   365.000000    82.600000

[8 rows x 9 columns]

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Coarse Aggregate  Fine Aggregate  Age
0   540.0                 0.0      0.0  ...            1040.0           676.0   28
1   540.0                 0.0      0.0  ...            1055.0           676.0   28
2   332.5               142.5      0.0  ...             932.0           594.0  270
3   332.5               142.5      0.0  ...             932.0           594.0  365
4   198.6               132.4      0.0  ...             978.4           825.5  360

[5 rows x 8 columns]

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

     Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
0  2.476712           -0.856472  ...       -1.217079 -0.279597
1  2.476712           -0.856472  ...       -1.217079 -0.279597
2  0.491187            0.795140  ...       -2.239829  3.551340
3  0.491187            0.795140  ...       -2.239829  5.055221
4 -0.790075            0.678079  ...        0.647569  4.976069

[5 rows x 8 columns]

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

## Import Keras

Recall from the videos that Keras normally runs on top of a low-level library such as TensorFlow. This means that to be able to use the Keras library, you will have to install TensorFlow first and when you import the Keras library, it will be explicitly displayed what backend was used to install the Keras library. In CC Labs, we used TensorFlow as the backend to install Keras, so it should clearly print that when we import Keras.

#### Let's go ahead and import the Keras library

In [11]:
import keras

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense, Input

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Input(shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has two hidden layers, each of 50 hidden units.

## Train and Test the Network

Let's call the function now to create our model.

In [14]:
# build the model
model = regression_model()

Next, we will train and test the model at the same time using the *fit* method. We will leave out 30% of the data for validation and we will train the model for 100 epochs.

In [15]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Epoch 1/100
23/23 - 1s - 56ms/step - loss: 1653.7905 - val_loss: 1159.9360
Epoch 2/100
23/23 - 0s - 6ms/step - loss: 1526.4648 - val_loss: 1041.0897
Epoch 3/100
23/23 - 0s - 6ms/step - loss: 1306.2484 - val_loss: 847.8036
Epoch 4/100
23/23 - 0s - 7ms/step - loss: 969.1200 - val_loss: 600.4442
Epoch 5/100
23/23 - 0s - 7ms/step - loss: 593.1036 - val_loss: 376.7156
Epoch 6/100
23/23 - 0s - 8ms/step - loss: 330.1683 - val_loss: 241.3634
Epoch 7/100
23/23 - 0s - 7ms/step - loss: 243.2871 - val_loss: 197.0028
Epoch 8/100
23/23 - 0s - 7ms/step - loss: 220.3296 - val_loss: 186.2605
Epoch 9/100
23/23 - 0s - 6ms/step - loss: 207.8189 - val_loss: 178.3442
Epoch 10/100
23/23 - 0s - 6ms/step - loss: 197.3131 - val_loss: 174.1476
Epoch 11/100
23/23 - 0s - 6ms/step - loss: 188.8645 - val_loss: 169.9317
Epoch 12/100
23/23 - 0s - 6ms/step - loss: 182.4524 - val_loss: 167.7551
Epoch 13/100
23/23 - 0s - 6ms/step - loss: 176.6834 - val_loss: 164.4639
Epoch 14/100
23/23 - 0s - 7ms/step - loss: 172.1978 - val_loss: 165.3762
Epoch 15/100
23/23 - 0s - 6ms/step - loss: 167.2004 - val_loss: 165.1874
Epoch 16/100
23/23 - 0s - 6ms/step - loss: 163.5558 - val_loss: 164.1554
Epoch 17/100
23/23 - 0s - 6ms/step - loss: 160.0909 - val_loss: 163.9862
Epoch 18/100
23/23 - 0s - 6ms/step - loss: 157.4256 - val_loss: 164.2367
Epoch 19/100
23/23 - 0s - 6ms/step - loss: 155.4041 - val_loss: 164.1368
Epoch 20/100
23/23 - 0s - 5ms/step - loss: 152.7907 - val_loss: 163.8772
Epoch 21/100
23/23 - 0s - 5ms/step - loss: 150.9471 - val_loss: 165.3313
Epoch 22/100
23/23 - 0s - 5ms/step - loss: 149.1358 - val_loss: 163.8202
Epoch 23/100
23/23 - 0s - 6ms/step - loss: 147.3222 - val_loss: 163.4126
Epoch 24/100
23/23 - 0s - 6ms/step - loss: 145.6996 - val_loss: 165.2922
Epoch 25/100
23/23 - 0s - 6ms/step - loss: 144.6718 - val_loss: 165.3151
Epoch 26/100
23/23 - 0s - 6ms/step - loss: 142.5744 - val_loss: 167.0289
Epoch 27/100
23/23 - 0s - 6ms/step - loss: 140.9520 - val_loss: 165.6523
Epoch 28/100
23/23 - 0s - 8ms/step - loss: 139.3459 - val_loss: 167.1948
Epoch 29/100
23/23 - 0s - 6ms/step - loss: 137.8150 - val_loss: 166.9700
Epoch 30/100
23/23 - 0s - 6ms/step - loss: 136.4675 - val_loss: 166.6205
Epoch 31/100
23/23 - 0s - 6ms/step - loss: 135.7176 - val_loss: 167.7462
Epoch 32/100
23/23 - 0s - 6ms/step - loss: 134.3848 - val_loss: 168.9763
Epoch 33/100
23/23 - 0s - 8ms/step - loss: 131.8562 - val_loss: 169.5746
Epoch 34/100
23/23 - 0s - 7ms/step - loss: 130.6855 - val_loss: 168.0978
Epoch 35/100
23/23 - 0s - 7ms/step - loss: 129.3335 - val_loss: 168.1362
Epoch 36/100
23/23 - 0s - 6ms/step - loss: 128.0944 - val_loss: 168.9888
Epoch 37/100
23/23 - 0s - 6ms/step - loss: 126.8656 - val_loss: 169.8215
Epoch 38/100
23/23 - 0s - 6ms/step - loss: 126.0136 - val_loss: 167.9190
Epoch 39/100
23/23 - 0s - 6ms/step - loss: 124.8523 - val_loss: 168.5494
Epoch 40/100
23/23 - 0s - 6ms/step - loss: 122.7855 - val_loss: 171.3404
Epoch 41/100
23/23 - 0s - 6ms/step - loss: 122.0345 - val_loss: 166.8664
Epoch 42/100
23/23 - 0s - 6ms/step - loss: 120.7195 - val_loss: 167.4201
Epoch 43/100
23/23 - 0s - 6ms/step - loss: 119.1926 - val_loss: 167.8132
Epoch 44/100
23/23 - 0s - 6ms/step - loss: 118.0158 - val_loss: 166.5998
Epoch 45/100
23/23 - 0s - 6ms/step - loss: 117.1716 - val_loss: 165.7960
Epoch 46/100
23/23 - 0s - 6ms/step - loss: 114.7970 - val_loss: 163.4063
Epoch 47/100
23/23 - 0s - 6ms/step - loss: 113.3564 - val_loss: 164.3209
Epoch 48/100
23/23 - 0s - 5ms/step - loss: 111.6378 - val_loss: 165.1595
Epoch 49/100
23/23 - 0s - 5ms/step - loss: 110.4138 - val_loss: 162.0369
Epoch 50/100
23/23 - 0s - 6ms/step - loss: 107.9493 - val_loss: 154.9153
Epoch 51/100
23/23 - 0s - 5ms/step - loss: 106.6625 - val_loss: 159.8851
Epoch 52/100
23/23 - 0s - 6ms/step - loss: 105.0306 - val_loss: 158.7650
Epoch 53/100
23/23 - 0s - 6ms/step - loss: 103.3041 - val_loss: 161.4299
Epoch 54/100
23/23 - 0s - 6ms/step - loss: 100.4420 - val_loss: 154.8963
Epoch 55/100
23/23 - 0s - 6ms/step - loss: 99.2983 - val_loss: 158.5185
Epoch 56/100
23/23 - 0s - 6ms/step - loss: 97.0206 - val_loss: 160.3010
Epoch 57/100
23/23 - 0s - 6ms/step - loss: 95.4865 - val_loss: 159.4428
Epoch 58/100
23/23 - 0s - 6ms/step - loss: 93.8213 - val_loss: 150.5350
Epoch 59/100
23/23 - 0s - 6ms/step - loss: 91.3925 - val_loss: 152.0569
Epoch 60/100
23/23 - 0s - 6ms/step - loss: 88.9563 - val_loss: 154.0922
Epoch 61/100
23/23 - 0s - 6ms/step - loss: 87.2083 - val_loss: 148.5247
Epoch 62/100
23/23 - 0s - 6ms/step - loss: 84.6200 - val_loss: 153.0840
Epoch 63/100
23/23 - 0s - 6ms/step - loss: 82.6405 - val_loss: 149.5935
Epoch 64/100
23/23 - 0s - 6ms/step - loss: 80.9655 - val_loss: 150.3302
Epoch 65/100
23/23 - 0s - 6ms/step - loss: 78.4114 - val_loss: 142.1636
Epoch 66/100
23/23 - 0s - 6ms/step - loss: 75.8467 - val_loss: 149.2769
Epoch 67/100
23/23 - 0s - 6ms/step - loss: 74.1420 - val_loss: 143.5042
Epoch 68/100
23/23 - 0s - 6ms/step - loss: 72.3256 - val_loss: 150.6585
Epoch 69/100
23/23 - 0s - 6ms/step - loss: 70.4992 - val_loss: 143.2969
Epoch 70/100
23/23 - 0s - 6ms/step - loss: 67.7405 - val_loss: 150.7004
Epoch 71/100
23/23 - 0s - 6ms/step - loss: 65.6004 - val_loss: 141.1871
Epoch 72/100
23/23 - 0s - 6ms/step - loss: 63.1780 - val_loss: 145.5018
Epoch 73/100
23/23 - 0s - 6ms/step - loss: 61.0421 - val_loss: 140.7946
Epoch 74/100
23/23 - 0s - 6ms/step - loss: 60.2078 - val_loss: 158.3180
Epoch 75/100
23/23 - 0s - 6ms/step - loss: 58.4649 - val_loss: 131.8530
Epoch 76/100
23/23 - 0s - 6ms/step - loss: 56.2694 - val_loss: 145.5502
Epoch 77/100
23/23 - 0s - 6ms/step - loss: 54.2531 - val_loss: 131.5623
Epoch 78/100
23/23 - 0s - 6ms/step - loss: 53.0303 - val_loss: 142.2300
Epoch 79/100
23/23 - 0s - 6ms/step - loss: 51.8286 - val_loss: 143.7776
Epoch 80/100
23/23 - 0s - 6ms/step - loss: 51.0585 - val_loss: 130.5730
Epoch 81/100
23/23 - 0s - 6ms/step - loss: 49.7378 - val_loss: 149.5365
Epoch 82/100
23/23 - 0s - 6ms/step - loss: 48.4821 - val_loss: 134.9283
Epoch 83/100
23/23 - 0s - 6ms/step - loss: 47.5647 - val_loss: 129.5380
Epoch 84/100
23/23 - 0s - 7ms/step - loss: 47.1748 - val_loss: 141.7040
Epoch 85/100
23/23 - 0s - 6ms/step - loss: 45.8765 - val_loss: 136.1297
Epoch 86/100
23/23 - 0s - 6ms/step - loss: 45.1012 - val_loss: 143.7211
Epoch 87/100
23/23 - 0s - 6ms/step - loss: 44.5708 - val_loss: 137.7772
Epoch 88/100
23/23 - 0s - 6ms/step - loss: 43.5323 - val_loss: 141.9408
Epoch 89/100
23/23 - 0s - 6ms/step - loss: 42.5434 - val_loss: 143.2289
Epoch 90/100
23/23 - 0s - 6ms/step - loss: 42.2065 - val_loss: 141.6754
Epoch 91/100
23/23 - 0s - 6ms/step - loss: 41.1027 - val_loss: 130.7099
Epoch 92/100
23/23 - 0s - 6ms/step - loss: 40.5305 - val_loss: 142.9412
Epoch 93/100
23/23 - 0s - 6ms/step - loss: 40.3744 - val_loss: 144.9737
Epoch 94/100
23/23 - 0s - 6ms/step - loss: 40.0918 - val_loss: 145.1783
Epoch 95/100
23/23 - 0s - 6ms/step - loss: 38.7859 - val_loss: 147.0074
Epoch 96/100
23/23 - 0s - 6ms/step - loss: 39.3442 - val_loss: 135.2665
Epoch 97/100
23/23 - 0s - 6ms/step - loss: 38.2817 - val_loss: 134.2057
Epoch 98/100
23/23 - 0s - 6ms/step - loss: 38.9456 - val_loss: 142.7874
Epoch 99/100
23/23 - 0s - 6ms/step - loss: 37.2714 - val_loss: 137.8153
Epoch 100/100
23/23 - 0s - 6ms/step - loss: 36.9238 - val_loss: 153.4270

Feel free to vary the following and note what impact each change has on the model's performance:

1. Increase or decreate number of neurons in hidden layers
2. Add more hidden layers
3. Increase number of epochs

### Thank you for completing this lab!

This notebook was created by [Alex Aklson](https://www.linkedin.com/in/aklson/). I hope you found this lab interesting and educational. Feel free to contact me if you have any questions!


## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-09-21  | 2.0  | Srishti  |  Migrated Lab to Markdown and added to course repo in GitLab |



<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

This notebook is part of a course on **Coursera** called *Introduction to Deep Learning & Neural Networks with Keras*. If you accessed this notebook outside the course, you can take this course online by clicking [here](https://cocl.us/DL0101EN_Coursera_Week3_LAB1).

<hr>

Copyright &copy; 2019 [IBM Developer Skills Network](https://cognitiveclass.ai/?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).